# ==============================================================================
# GitHub CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# ==============================================================================

# Default owner for everything in the repository
* @tirenn

# Infrastructure, CI/CD, and deployment configurations
/.github/ @tirenn
/Dockerfile @tirenn
/docker-compose.yml @tirenn
/doppler.yaml @tirenn
/Makefile @tirenn

# Core application source code
/src/ @tirenn
/requirements.txt @tirenn
